<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrapcss")
        @Styles.Render("~/Content/flatuicss")
        @Styles.Render("~/Content/iconfont")
        @Styles.Render("~/Content/headercss")
        @Styles.Render("~/Content/footercss")
        @Styles.Render("~/Content/themes/ui-kit/ui-kit-content/css/ui-kit-styles.css")
        @Styles.Render("~/Content/themes/ui-kit/ui-kit-blog/css/ui-kit-styles.css")
        @Styles.Render("~/Content/themes/ui-kit/ui-kit-crew/css/ui-kit-styles.css")
        @Styles.Render("~/Content/themes/ui-kit/ui-kit-projects/css/ui-kit-styles.css")
        @Styles.Render("~/Content/css")

    </head>
    <body>
        <div class="page-wrapper">
            <header class="header-3">
                <div class="container">
                    <div class="row">
                        <nav class="navbar col-sm-12" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle"></button>
                                @Html.ActionLink("Social Banks", "Index", new { controller = "Home" }, new { @class = "brand"})
                            </div>
                            <div class="collapse navbar-collapse pull-right">
                                <form class="navbar-form pull-left">
                                    @Html.ActionLink("REGISTER NEW SOCIAL BANK", "Create", new { controller = "SocialBank" }, new { @class = "btn btn-warning" })
                                    @Html.ActionLink("SIGN IN", "Login", new { controller = "Account" }, new { @class = "btn btn-primary" })
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="header-background"></div>
            </header>
            <section class="header-1-sub">
                <div class="row">
                    <nav class="navbar col-sm-12" role="navigation">
                    <div class="collapse navbar-collapse">
                        <ul class="nav pull-right">
                            <li>
                                <a href="#">SOCIAL BANKS</a>
                            </li>
                            <li>
                                <a href="#">DIGITAL CURRENCY</a>
                            </li>
                            <li>
                                <a href="#">OUR SOLUTION</a>
                            </li>
                            <li>
                                <a href="#">WHO WHE ARE</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                </div>
            </section>
                
            @RenderBody()
            
            <!-- footer-9 -->
            <footer class="footer-1 bg-midnight-blue v-center">
                <div>
                    <div class="container">
                        <div class="row">
                            <nav>
                                <div class="col-sm-4">
                                    <div class="box box-first">
                                        <h6>Share</h6>
                                        <div class="social-btns">
                                            <a href="#" class="social-btn-facebook sharrre" data-text="#" data-url="#">
                                                <div class="fui-facebook"></div>
                                                <div class="fui-facebook"></div>
                                                <div class="buttons">
                                                    <div class="button facebook">
                                                        <div id="fb-root">
                                                        </div>
                                                        <div class="fb-like" data-href="#" data-send="false" data-layout="button_count" data-width="" data-show-faces="false" data-action="like" data-colorscheme="" data-font="" data-via="undefined">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="social-btn-twitter sharrre" data-text="#" data-url="#">
                                                <div class="fui-twitter"></div>
                                                <div class="fui-twitter"></div>
                                                <div class="buttons">
                                                    <div class="button twitter">
                                                        <a href="#" class="twitter-share-button" data-url="false" data-count="horizontal" data-text="#" data-via="#" data-hashtags="" data-related="" data-lang="en">Tweet</a>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 box">
                                    <h6>Help</h6>
                                    <ul>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Press</a></li>
                                        <li><a href="#">Usage Terms</a></li>
                                        <li><a href="#">Privacy Policies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4 box">
                                    <h6>Navigation</h6>
                                    <ul>
                                        <li><a href="#">Register New Social Bank</a></li>
                                        <li><a href="#">Explore Projects</a></li>
                                        <li><a href="#">Recommended</a></li>
                                        <li><a href="#">Newer</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrapjs")
        @Scripts.Render("~/bundles/modernizrcustom")
        @RenderSection("scripts", required: false)
    </body>
</html>
